body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe-UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira-Sans,Droid-Sans,Helvetica-Neue,sans-serif;
    background-color: #4ECDC4;
    color: #F7FFF7;
}

#image {
    color: #FFE66D;
}

.custom-link {
    color: #FFE66D;
}

.custom-link:hover {
    color: #ffe76daf;
}


.logo-custom:hover {
    color: #c2c2c2;
}


.custom-button {
    background-color: #FFE66D;
    border: none;
}

.custom-button:hover {
    background-color: #ffe76daf;
    border: none;
}


