body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe-UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira-Sans,Droid-Sans,Helvetica-Neue,sans-serif;
    background-color: #4ECDC4;
    color: #F7FFF7;
}

#image {
    color: #FFE66D;
}

.custom-link {
    color: #FFE66D;
}

.custom-link:hover {
    color: #ffe76daf;
}


.logo-custom:hover {
    color: #c2c2c2;
}


.custom-button {
    background-color: #FFE66D;
    color: #000000;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    border: none;
    display: flex;
        align-items: center;
    
    
}

.custom-button:hover {
    background-color: #ffe76dce;
    color: #000000;
}

.custom-button:active {
    background-color: #ffe76db0;
    color: #000000;
}



.perfil .btn {
    background-color: #FFE66D; 
    color: #000000; 
    border: none; 
}

.perfil .btn:hover {
    background-color: #ffe76dc7;
}


.perfil .dropdown-menu {
    background-color: #FFE66D; 
    color: #000; 
}

.perfil .dropdown-menu:hover {
    background-color: #ffe76dc7; 
    color: #000; 
}

.perfil .dropdown-menu .dropdown-item {
    background-color: #FFE66D; 
    color: #000; 
}

.perfil .dropdown-menu .dropdown-item:hover {
    background-color: #ffe76dc7; 
    color: #000; 
}


