#card {
    background-color: #292F36;
    width: 500px;
    height: 450px;
    padding: 30px;
    margin: 50px auto;
    border-radius: 10px;
}

#button {
    display: flex;
    justify-content: center;
}


#iniciar {
    background-color: #FFE66D;
    color: #292F36;
    margin: 0 auto;
    border: none;
}

#iniciar:hover {
    background-color: #ffe76daf;
}
