#card {
    background-color: #292F36;
    width: 500px;
    height: 450px;
    padding: 30px;
    margin: 50px auto;
    border-radius: 10px;
}

.button {
    text-decoration: none;
}


#iniciar {
    background-color: #FFE66D;
    color: #292F36;
    margin: 0 auto;
    border: none;
}

#iniciar:hover {
    background-color: #ffe76dce;
}

#iniciar:active{
    background-color: #ffe76dc0;
}
