body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe-UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira-Sans,Droid-Sans,Helvetica-Neue,sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4ECDC4;
}

#card {
    width: 500px;
    height: 500px;
    padding: 40px;
    background-color: #292F36;
    border-radius: 10px;
    gap: 20px;
    display: flex;
     flex-direction: column;
}

h1 {
    margin-bottom: 30px;
}

.custom-input {
    margin-bottom: 20px;
}

.form-floating input {
    padding: 20px 10px;
}

#button {
    display: flex;
        justify-content: center;
}

.login {
    width: 120px;
    background-color: #FFE66D;
    color: #292F36;
    border: none;
    padding: 10px;
    border-radius: 10px;

}

.login:hover {
    background-color: #ffe76dcc;
}

.login:active {
    background-color: #ffe76d9d;
}

#registrar {
    color: #F7FFF7;
    display: flex;
        justify-content: center;
}

#cadastro {
    color: #FFE66D;
}

#cadastro:hover {
    color: #ffe76daf;
}

.container {
    padding: 10px;
}