#card {
    background-color: #67928954;
    width: 500px;
    height: 450px;
    padding: 40px;
    margin: 50px auto;
    border-radius: 10px;
}

#button {
    display: flex;
    justify-content: center;
}


#iniciar {
    background-color: #1EA896;
    margin: 0 auto;
    border: none;
}

#iniciar:hover {
    background-color: #1D7874;

}
