{% extends 'base.html' %}
{% block conteudo %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">

<div id="card">
    <h1 style="text-align: center; padding: 10px;">Gerenciador de Tarefas</h1>

    <p> Organize seus deveres de forma simples e eficiente com o Gerenciador de Tarefas. O sistema foi projetado
        para ajudar você a monitorar suas responsabilidades diárias, definir suas prioridades e concluir suas tarefas de
        forma eficaz e organizada.</p>
    
    <p>As principais funcionalidades que o site terá são: </p>

    <ul>
        <li>Adicionar tarefas</li>
        <li>Editar tarefas</li>
        <li>Excluir tarefas</li>
        <li>Visualizar tarefas</li>
    </ul>
    
    <div class="d-flex justify-content-center button" id="button">
        <form action="{{url_for('tasks.dashboard') if session.get('user') else url_for('usuario.login')}}">
            <button class="btn btn-primary" id="iniciar">Gerencie suas tarefas</button>
        </form>
    </div>
    
    
</div>

{% endblock %}
